body{
    margin: 0;
    padding: 0;
}
/* Begin Navbar */
.title{
    display: flex;
    justify-content: center;
    background-color: #2584C0;
    color: white;
    width: 100%;
}
.title p{
    font-size: 60px;
}
.navbar{
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #DFEEF8;
    width: 100%;
}
.navbar li{
    padding: 20px;
}
/* End Navbar */
/* begin Home body */
.container{
    color: #2584C0;
}
.containerText {
    width: 400px;
    padding: 20px;
}
.containerText li{
    list-style: "- ";
}
.containerSection {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    justify-content: space-around;
}
.backgroundcolorSection {
    background-color: rgb(222,238,248);
}
#imageGirl {
    width: 200px;
    height: 200px;
    padding: 20px;
}
.containerImage {
    padding: 1%;
    width: 400px;
}
/* end Home body */
